{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}
{% block head %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/site-navbar.scss') }}">
    {% endblock %}
{% endblock %}

{% block body %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('js/user-cart.js') }}"></script>
{% endblock %}

    <div class="site-wrap shopping-cart-page"  data-update-url="{{ path('update_article_quantity') }}" data-remove-url="{{ path('remove_article') }}">
        {% include 'header/header2.html.twig' with {'user' : user, 'allCartItems' : allCartItems} %}

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href="{{ path('app_index') }}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row mb-5">
                    <form class="col-md-12" method="post">
                        <div class="site-blocks-table">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-total">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for articleItem in  allCartItems %}
                                    <tr data-article-id="{{ articleItem.article.articleId }}">
                                        <td class="product-thumbnail">
                                            <img src="{{ asset(articleItem.article.articleImages | json_decode | first) }}" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h5 text-black">{{ articleItem.article.articleName }}</h2>
                                        </td>
                                        <td>${{ articleItem.article.articlePrice }}</td>
                                        <td>
                                            <div class="input-group mb-3" style="max-width: 120px;">
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-outline-primary js-btn-minus"  data-article-id="{{ articleItem.article.articleId }}" data-article-price="{{ articleItem.article.articlePrice }}" data-cart-item-id="{{ articleItem.cartItemId }}" type="button">&minus;</button>
                                                </div>
                                                <input type="text" class="form-control text-center product-quantity" data-article-id="{{ articleItem.article.articleId }}" value="{{ articleItem.quantity }}" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-primary js-btn-plus" data-article-id="{{ articleItem.article.articleId }}" data-article-price="{{ articleItem.article.articlePrice }}" data-cart-item-id="{{ articleItem.cartItemId }}" type="button">&plus;</button>
                                                </div>
                                            </div>

                                        </td>
                                        <td class="product-total-price">${{ articleItem.article.articlePrice * articleItem.quantity }}</td>
                                        <td><a href="#" class="btn btn-primary btn-sm js-remove-product" data-article-id="{{ articleItem.article.articleId }}">X</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="row mb-5">
                            <div class="col-md-6 mb-3 mb-md-0">
                                <button class="btn btn-primary btn-sm btn-block">Update Cart</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="text-black h4" for="coupon">Coupon</label>
                                <p>Enter your coupon code if you have one.</p>
                            </div>
                            <div class="col-md-8 mb-3 mb-md-0">
                                <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-primary btn-sm">Apply Coupon</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-5">
                        <div class="row justify-content-end">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-12 text-right border-bottom mb-5">
                                        <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <span class="text-black">Subtotal</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <strong id="subTotalPriceElmText" class="text-black">${{ allCartItems | total_price}}</strong>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <div class="col-md-6">
                                        <span class="text-black">Total</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <strong id="totalPriceElmText" class="text-black">${{ allCartItems | total_price}}</strong>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location='{{ path('checkout') }}'">Proceed To Checkout</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'footer/footer.html.twig' %}
    </div>
{% endblock %}
