{% extends 'base.html.twig' %}

{% block body %}
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ asset('js/user-cart.js') }}"></script>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/delivery_address_form.scss') }}">


    <div class="site-wrap" data-remove-url="{{ path('remove_article') }}">
        {% include 'header/header2.html.twig' with {'user' : user, 'allCartItems' : allCartItems} %}

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href="{{ path('app_index') }}">Home</a> <span class="mx-2 mb-0">/</span> <a href="{{ path('app_cart') }}">Cart</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Delivery Adress</strong></div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="border p-4 rounded" role="alert">
                            Returning customer? <a href="{{ path('app_login') }}">Click here</a> to login
                        </div>
                    </div>
                </div>
                <div class="contain">
                    {{ form_start(form, { 'attr': {'id': 'delivery_address_form'} }) }}
                    <h2>Delivery Address</h2>
                    {% if form.vars.errors|length > 0 %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for error in form.vars.errors %}
                                    <li>{{ error.message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div>{{ form_row(form.name) }}</div>
                    <div>{{ form_row(form.phone) }}</div>
                    <div>{{ form_row(form.email) }}</div>
                    <div>{{ form_row(form.country) }}</div>
                    <div>{{ form_row(form.city) }}</div>
                    <div>{{ form_row(form.street) }}</div>
                    <div>{{ form_row(form.houseNumber) }}</div>
                    <button class="bg-primary" type="submit">Submit</button>
                    {{ form_end(form) }}
                </div>

                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <!-- </form> -->
            </div>
        </div>

        {% include 'footer/footer.html.twig' %}
    </div>
{% endblock %}
